{% extends 'App1/base.html' %}
{% load static %}
{% block content %}
    
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'App1/assets/img/camisetas1.avif' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Las Mejores Casacas!</h2>
                    <p>En este sitio web, nos encargamos de conectarte con esas camisetas deportiva que tanto estes buscando. Contamos con amplia variedad de deportes, diferentes ligas de todo el mundo y los mejores deportistas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'App1/assets/img/camiseta2.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Futbol, Futbol y mas Futbol</h2>
                    <p>en "Ke KasaKa amamos el futbol, es por esto que tenemos una gigantesca variedad de camisetas de este hermoso deporte. Busca por tu Equipo favorito, la Liga que mas te guste, o simplemente esa estrella del balon pie que admiras.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'App1/assets/img/camiseta3.jpeg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Solo vos sabes el valor de tu casaca!</h2>
                    <p>Tenemos un apartado para que los amantes de las camisetas deportivas puedan cambiar, vender o comprar esas casacas que consideran reliquias. Solo vos sabes cuanto vale esa camiseta, y sos vos el que le tiene que poner precio a tan preciado tesoro.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block title %}
Ke KasaKa - Inicio        
{% endblock %}